.box{
	margin: 30px auto 50px;
	}
.box,.box img{
	width: 815px;
	height: 400px;
}
.fr-con-wrap{
	margin:0 auto 150px;
}
.fr-con .form{
	width: 815px;
	font-size: 18px;
	margin: 0 auto;
}
	.form .fl-input{
		width: 380px;
		float: left;
		height: auto;
	}
	.form .fr-ul{
		width: 320px;
		height: auto;
		float: right;
	}
	.form li .input{
		width: 200px;
		height: 25px;
		line-height: 25px;
		margin-bottom: 10px;
		vertical-align: middle;
	}
	.form li textarea{
		width: 320px;
		height: 100px;
		vertical-align: top;
		overflow-y: hidden; 
		outline: none;
	}
	.fl-input .textarea{
		margin:5px 0 10px 0; 
	}
	.fl-input li .input-a{
		width: 120px;
		height: 30px;
		line-height: 30px;
		background: #ccc;
		letter-spacing: 6px;
		border:none;
		text-align: center;
		font-size:20px;
		vertical-align: middle;
		margin-right: 14%;
		outline: none;
	}
	.fl-input li button{
		width: 60px;
		height: 30px;
		line-height: 30px;
		border:none;
		border-radius: 5px;
		vertical-align: middle;
	}
	.fl-input li .btn-a{
		background: #0089ff;
		vertical-align: middle;
		color: #fff;
	}
	.fr-ul{
		vertical-align: top;
		width: 320px;
		height: 200px;
		float: right;
	}
	.fr-ul .first-child{
		font-size: 19px;
		font-weight: 600;
	}

	.fr-ul li{
		padding-bottom:5px;
		font-size: 18px
	}
	.fr-ul li a{
		color: #222;
	}
	.fr-ul li a:hover{color: blue;}
	
	/*.clear{padding-bottom: 50px;}*/