.fr-con .pic-box{
	width:100%;
	height: auto;
	margin:35px auto 0;
	}
.fr-con .pic-box img{
	width: 230px;
	height: 270px;
}

.box{
	width: 230px;
	height: 260px;
	float: left;
	position: relative;
	overflow: hidden;
	margin:0 5px 70px 48px;
	}
	.box img{
		position: absolute;
		top:0;
		left:0;
		border:0;
	}
	.box h3{
		font-size: 18px;
		color:#fff;
	}

/*遮罩*/
	.caption{
		float: left;
		background: #333;
		opacity: 0.7;
		height: 50px;
		line-height: 50px;
		width:100%;
		position: absolute;
		text-align: center;
	}
	.two .caption{
		top:210px;
		left:0;
		-moz-opacity:0.6;
		-khtml-opacity: 0.6;
		opacity: 0.6;
		filter:alpha(opacity=60);
	}

	