.con-wrap{
	clear: both;
	width: 805px;
	margin: 35px auto 0;
	}
	.con-fl{
		float: left;
		display: inline-block;
	}
	.con-fl img{
		width:400px;
		height:470px;
		margin:3px 30px 0 0;
	}
	.con-fr{
		width: 350px;
		float: left;
		margin-left: 18px;
	}

	.con-fr p,.last-p p{
		font-size: 16px;
		padding-top: 6px;
		text-indent: 26px;
		line-height: 26px;
	}
	.con-fr .first_h4{
		font-weight: 100px;
		font-size: 23px;
	}
	.con-fr .last-p{
		clear: both;
	}

