.fr-con .title p{
	font-size: 25px;
	padding:3px;
	float: left;
	}
	
	.fr-con table{
		clear: both;
		width: 805px;
		margin: 30px auto 50px;
		text-align: left;
		border-collapse:collapse;
	}
	.fr-con table tr:first-child td{
		margin-top: 30px;
		border-top:2px solid #ccc;
	}
	.fr-con table tr td{
		border-bottom:2px solid #ccc;
		padding-top: 10px;
	}
	.fr-con tr img{
		width: 150px;
		height: 100px;
	}
	.fr-con table li{
		font-size: 16px;
		padding-bottom: 10px;
	}
	.fr-con table .text-top{
		font-size: 14px;
		text-align: right;
		vertical-align: text-top;
		color: #999;
	}
	/*分页插件*/
	nav{
		width: 255px;
		margin:0 auto;
	}
	nav li{
		float: left;
		border:1px dotted #999;
		text-align: center;
		line-height: 30px;
		margin-right: 1px;
	}
	nav .active{background: #0089ff;}
	nav li,nav li a{
		width: 30px;
		height: 30px;
		color: #999;
		display: block;
	}
	nav a:hover{
		background:#0089ff;
		color:#222;
	}
	

